* {
    box-sizing: border-box;
    padding: 5px;
  }


body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: calc(100%-120px);
    margin: auto;
}

header {
    .logo {
        h1 {
            font-weight: 300;
            span {
                font-weight:600;
                color: #06c167
            }
        }
    }
    .container {
        display: flex;
        align-items: center;
    }
    .searchBar {
        margin-left: auto;
    }
    .header-option {
        padding-left: 5rem;
        letter-spacing: 0.6px;
    }
    .currentDetails, .searchBar {
        display: flex;
    }
}

.options {
    padding: 1rem 0;
    .options-btn {
        background: rgb(238, 238, 238);
        padding: 0.8rem 1rem;
        border-radius: 30px;
        border: 0;
        font-size: 1;
        font-family: sans-serif;
        letter-spacing: 0.6px;
        &.selected {
            background: black;
            color: white;
        }
    }
}

.listings{
    padding: 2rem 0;
    .header {
        display: flex;
        align-items: center;

        .header-title {
            h2 {
                font-weight: 400;
                font-size: 1.7rem;
                margin-bottom: 0.5rem;
                margin-top: 0;
            }

            span {
                color: rgb(86, 86, 86);
            }
        }
    }
//now its time for the images
//lets target our element
//and the image in it
    .listings-grid {
        .listings-grid-element {
            width: 35%;
            margin-top: 2rem;
            ._image {
                height: 240px;
                overflow: hidden;
                img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                }
            }

            ._text { 

                display: flex;
                align-items: center;
                
                h3 {
                    font-weight: 400;
                    margin-bottom: 0.5rem;
                }

                span {
                    font-size: 0.8rem;
                    font-weight: 300;
                    color: rgb(86, 86, 86);
                }

                ._rating {
                    margin-left: auto;
                    span {
                        height: 40px;
                        width: 40px;
                    }
                }
                
            }


        }
    }
    .header-viewOptions {
        display: flex;
        align-items: center;
        margin: auto 0 auto auto;

        .viewAll {
            color: #06c167;
            padding-right: 2rem;

        }

        .viewMore {
            .arrow {
                width: 40px;
                height: 40px;
                background: rgb(238, 238, 238);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                //make them circle-y 
                border-radius: 50%;
                opacity: 0.3;
                //cool transition when hovering
                transition: all 0.2s ease-in-out;
                cursor: pointer;
                &.dark, &:hover {
                    opacity: 1;
                }
            }
        }
    }
}

.circe {

    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;

}