* {
    box-sizing: border-box;
    padding: 5px;
  }


body {
    margin: 0;
    font-family: sans-serif;
}

.container {
    width: calc(100%-120px);
    margin: auto;
}

header {
    .logo {
        h1 {
            font-weight: 300;
            span {
                font-weight:600;
                color: #06c167
            }
        }
    }
    .container {
        display: flex;
        align-items: center;
    }
    .searchBar {
        margin-left: auto;
    }
    .header-option {
        padding-left: 5rem;
        letter-spacing: 0.6px;
    }
    .currentDetails, .searchBar {
        display: flex;
    }
}

.options {
    padding: 1rem 0;
    .options-btn {
        background: rgb(238, 238, 238);
        padding: 0.8rem 1rem;
        border-radius: 30px;
        border: 0;
        font-size: 1;
        font-family: sans-serif;
        letter-spacing: 0.6px;
        &.selected {
            background: black;
            color: white;
        }
    }
}

.listings{
    .header {
        display: flex;
        align-items: center;
    }
    .header-viewOptions {
        margin-left: auto;
        display: flex;
        align-items: center;

        .viewAll {
            color: #06c167;

        }

        .viewMore {
            .arrow {
                width: 40px;
                height: 40px;
                background: rgb(238, 238, 238);
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border-radius: 50%;
                opacity: 0.3;
                transition: all 0.2s ease-in-out;
                cursor: pointer;
                &.dark, &:hover {
                    opacity: 1;
                }
            }
        }
    }
}